// 面包屑
.ant-breadcrumb {
  margin-bottom: 15px !important;

  .ant-breadcrumb-link {
    color: #888 !important;

    a {
      color: #555 !important;

      &:hover {
        color: #84c486 !important;
      }
    }
  }
}

// 通知消息框
.ant-notification {
  top: 95px !important;
}

// 分页

// 分页样式
.ant-pagination-item {

  &:focus,
  &:hover {
    border-color: #33b371 !important;

    a {
      color: #33b371 !important;

    }
  }
}

.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover,
.ant-pagination-next:hover a,
.ant-pagination-prev:hover a {
  border-color: #33b371 !important;
}

.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link,
.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link {
  color: #33b371 !important;
  border-color: #33b371 !important;
}

.ant-pagination-item-active {
  background-color: #33b371 !important;
  color: #fff !important;
  border-color: #33b371 !important;

  a {
    color: #fff !important;
  }

  &:hover {
    a {
      color: #fff !important;
    }
  }
}

// 按钮
/* .ant-btn {

  &:focus,
  &:hover {
    color: #84c486 !important;
    background-color: #fff;
    border-color: #84c486 !important;
  }
} */