// 栅格布局
.z-row {
  position: relative;
  height: auto;
  zoom: 1;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &:after,
  &:before {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

.z-col {
  display: block;
  float: left;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &.z-col-1 {
    width: 100%;
  }

  &.z-col-2 {
    width: 50%;
  }

  &.z-col-3 {
    width: 33.33333333%;
  }

  &.z-col-4 {
    width: 25%;
  }

  &.z-col-5 {
    width: 20%;
  }

  &.z-col-6 {
    width: 16.66666667%;
  }

  &.z-col-7 {
    width: ‭14.28571429%;
  }

  &.z-col-8 {
    width: ‭12.5%;
  }

  &.z-col-9 {
    width: ‭11.11111111%;
  }

  &.z-col-10 {
    width: ‭10.0%;
  }

  &.z-col-12 {
    width: ‭8.33333333%;
  }

}

// 栅格布局 - flex
.z-row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.z-col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}