.key-item-chunk {
  position: relative;
  width: 100%;
  margin-top: 45px;

  >.header {
    position: relative;

    .en-title {
      text-align: center;
      color: #888;
      font-size: 21px;
    }

    .title {
      position: relative;
      text-align: center;
      color: #222;
      font-family: "微软雅黑";
      font-size: 28px;
      line-height: 36px;
      margin-top: 5px;
      margin-bottom: 24px;
      font-weight: 600;

      .line {
        position: absolute;
        top: 18px;
        width: 38%;
        height: 1px;
        background-color: #d9d9d9;

        &.left {
          left: 0px;
        }

        &.right {
          right: 0px;
        }
      }
    }

    .menu {
      text-align: center;
      margin-bottom: 26px;

      a {
        display: inline-block;
        border: 1px solid #cccccc;
        color: #666666;
        padding: 6px 16px;
        margin: 0px 10px;

        &:hover,
        &.active {
          border: 1px solid #37a637;
          color: #37a637;
        }
      }
    }
  }

  >.body {
    position: relative;

    // 箭头
    .key-arrow {
      i {
        position: absolute;
        width: 80px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        font-size: 80px;
        color: #000;

        &:hover {
          color: #97cc97;
          cursor: pointer;
        }
      }

      // 水平箭头
      &.key-arrow-horizontal {
        i {
          top: 50%;
          margin-top: -50px;

          &.left {
            left: 30px;
          }

          &.right {
            right: 30px;
          }
        }
      }

      // 水平箭头在外
      &.key-arrow-horizontal-out {
        i {
          top: 50%;
          margin-top: -50px;

          &.left {
            left: -100px;
          }

          &.right {
            right: -100px;
          }
        }
      }

      // 垂直箭头在右外
      &.key-arrow-vertical-right-out {
        i {
          right: -80px;

          &.top {
            top: 0px;
          }

          &.bottom {
            bottom: 0px;
          }
        }
      }

    }

    .key-item-chunk-body {
      position: relative;
      width: 1200px;
      margin: 0 auto;

      &.key-item-chunk-body-max {
        width: 100%;

        .tools {
          right: calc((100% - 1200px) / 2 + 5px);
        }

        .key-item-chunk-body-max-content {
          width: 1200px;
          margin: 0px auto;
        }
      }

      &.key-col-5 {
        .ant-col-4 {
          width: 20%;
        }
      }

      .tools {
        position: absolute;
        top: -25px;
        right: 5px;

        &.align-select {
          top: 6px;
        }

        a.more {
          color: #333;
          margin-left: 10px;

          &:hover {
            color: #5fb35f;
          }
        }
      }

      .item-box {
        border: 1px solid transparent;

        &.item-box-margin-1 {
          margin: 0 1px;
        }

        &.item-box-margin-3 {
          margin: 0 3px;
        }

        &.item-box-margin-5 {
          margin: 0 5px;
        }

        &.item-box-margin-8 {
          margin: 0 8px;
        }

        &.item-box-margin-10 {
          margin: 0 10px;
        }

        &.item-box-margin-12 {
          margin: 0 12px;
        }

        &.item-box-margin-15 {
          margin: 0 15px;
        }

        &.item-box-margin-20 {
          margin: 0 20px;
        }

        >.header {
          position: relative;
          width: 100%;
          overflow: hidden;
          text-align: center;

          img {
            width: 100%;
          }
        }

        >.body {
          position: relative;
          padding: 10px 15px;

          .title {
            color: #333;
            font-size: 16px;
            margin-bottom: 6px;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .label {
            color: #555;
            margin-bottom: 2px;

            &.label-hidde {
              overflow: hidden;
            }

            span {
              display: inline-block;
              margin-right: 15px;

              &:last-child {
                margin-right: 0px;
              }
            }

            i.fa {
              margin-right: 8px;
            }
          }
        }

        >.footer {
          position: relative;
          padding: 0px 15px 10px 15px;

          &.footer-left {
            text-align: left;
          }

          &.footer-right {
            text-align: right;
          }

          a {
            color: #5fb35f;
          }
        }

        &.item-box-bg {

          >.body,
          >.footer {
            background-color: #f8f8f8;
          }

        }

        &:hover {
          border: 1px solid #38a636;
        }

      }
    }
  }
}