<div class="key-carousel">
  <nz-carousel #carousel [nzDots]="false">
    <div nz-carousel-content *ngFor="let item of data">
      <ng-template ngFor let-row [ngForOf]="rowArray" let-rowIndex="index">
        <div nz-row
          [style.marginBottom.px]="(rowArray != null && rowArray.length > 1) ? (space * 2):'0px'">
          <ng-template ngFor let-subData [ngForOf]="item.data"
            let-index="index">
            <div
              *ngIf="(rowArray != null && rowArray.length > 1) ? (index < (rowIndex + 1) * nzSpanNumber) && (index >= rowIndex * nzSpanNumber) : true"
              nz-col [nzSpan]="nzSpan">
              <div class="carousel-box carousel-box-margin-{{space}}"
                (click)="onClick(subData)">
                <div class="header">
                  <img [src]="subData.src">
                  <key-item-mask *ngIf="maskMode">
                    <key-item-mask-label [label]="subData.title">
                    </key-item-mask-label>
                  </key-item-mask>
                </div>
                <div *ngIf="!maskMode" class="body" [ngStyle]="bodyStyle"
                  [class.body-padding]="labelArray != null && labelArray.length > 0"
                  [class.body-bg]="isBodyBg">
                  <ng-template ngFor let-labels [ngForOf]="labelArray">
                    <key-carousel-label [label]="labels.label"
                      [value]="subData[labels.key]" [unit]="labels.unit">
                    </key-carousel-label>
                  </ng-template>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </ng-template>
    </div>
  </nz-carousel>
  <!-- 箭头水平在外 -->
  <div *ngIf="arrowType == 'horizontal-out' && data != null && data.length > 1"
    class="key-arrow key-arrow-horizontal-out">
    <i class="fa fa-angle-left left" (click)="carousel.pre();"></i>
    <i class="fa fa-angle-right right" (click)="carousel.next();"></i>
  </div>
  <!-- 箭头垂直在右外 -->
  <div
    *ngIf="arrowType == 'vertical-right-out' && data != null && data.length > 1"
    class="key-arrow key-arrow-vertical-right-out">
    <i class="fa fa-angle-up top" (click)="carousel.pre();"></i>
    <i class="fa fa-angle-down bottom" (click)="carousel.next();"></i>
  </div>
</div>