<div class="furniture-standard">
  <!-- 横幅 -->
  <is-banner-menu [srcUrl]="CH_IS_BANNER_SRC" [dataMenu]="CH_IS_BANNER_MENU" activeSubTitle="家具国家标准"
    (clickMenu)="onClickBannerMenu($event)">
  </is-banner-menu>

  <div class="body">
    <!-- 面包屑 -->
    <nz-breadcrumb class="breadcrumb" nzSeparator='>'>
      <nz-breadcrumb-item>
        <a (click)="portalNav.onHome()">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a (click)="portalNav.openIntegratedServices()">综合服务</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a (click)="portalNav.openExhibition()">政府服务</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        家具国家标准
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>


  <!-- ISO 国际标准 -->
  <key-item-chunk enTitle="ISO STANDARD" title="ISO 国际标准">
    <div body>
      <key-item-chunk-body>
        <div class="FNSD-style">
          <div class="z-row">
            <div class="box">
              <ng-template ngFor let-item [ngForOf]="dataHandler.FNSD.data0" let-index="index">
                <div class="label singleTextBeyondHide" (click)="portalNav.openFurnitureStandardDetails()">
                  <a title="{{item.title}}">{{item.title}}
                    <div class="date" style="text-align: right">
                      <span class="date">2019-01-23 执行中</span>
                      <!-- <span class="state">执行中</span> -->
                    </div>
                  </a>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </key-item-chunk-body>
    </div>
  </key-item-chunk>

  <!-- GB 中国国家标准 -->
  <key-item-chunk enTitle="GB STANDARD" title="GB 中国国家标准">
    <div body>
      <key-item-chunk-body>
        <div class="FNSD-style">
          <div class="z-row">
            <div class="box">
              <ng-template ngFor let-item [ngForOf]="dataHandler.FNSD.data1" let-index="index">
                <div class="label singleTextBeyondHide" (click)="portalNav.openFurnitureStandardDetails()">
                  <a title="{{item.title}}">{{item.title}}
                    <div class="date" style="text-align: right">
                      <span class="date">2018-05-03 执行中</span>
                      <!-- <span class="state">执行中</span> -->
                    </div>
                  </a>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </key-item-chunk-body>
    </div>
  </key-item-chunk>

  <!-- 行业标准 -->
  <key-item-chunk enTitle="INDUSTRY STANDARDS" title="行业标准">
    <div body>
      <key-item-chunk-body>
        <div class="FNSD-style">
          <div class="z-row">
            <div class="box">
              <ng-template ngFor let-item [ngForOf]="dataHandler.FNSD.data2" let-index="index">
                <div class="label singleTextBeyondHide" (click)="portalNav.openFurnitureStandardDetails()">
                  <a title="{{item.title}}">{{item.title}}
                    <div class="date" style="text-align: right">
                      <span class="date">2018-05-03 执行中</span>
                      <!-- <span class="state">执行中</span> -->
                    </div>
                  </a>
                </div>
                <!-- <key-item-mask>
                    <key-item-mask-label [label]="item.title">
                    </key-item-mask-label>
                    <key-item-mask-label label="2019-01-23"></key-item-mask-label>
                    <key-item-mask-label label="现行"></key-item-mask-label>
                  </key-item-mask> -->
              </ng-template>
            </div>
          </div>
        </div>
      </key-item-chunk-body>
    </div>
  </key-item-chunk>


</div>