<div class="er-login">
  <div class="login-box">
    <div class="header">
      <div class="title">企业资源管理系统</div>
      <div class="enTitle">Enterprise Resource Management System</div>
    </div>
    <div class="z-row">
      <div class="z-col z-col-3">
        <span class="input-icon">
          <input type="text" name="username" value="">
          <i class="icon-user"><strong>&nbsp;&nbsp;用户名：</strong></i>
        </span>
      </div>
      <div class="z-col z-col-3">
        <span class="input-icon">
          <input type="password" name="password" value="">
          <i class="icon-lock"><strong>&nbsp;&nbsp;密 码：</strong></i>
        </span>
      </div>
      <div class="z-col z-col-3">
        <span class="btnLogin" (click)="onLogin()">登录</span>
      </div>
    </div>
  </div>
</div>