.channel-channel {
  > .body {
    width: 1200px;
    margin: 20px auto 0px;
  }

  .info {
    padding: 15px;

    .item {
      display: inline-block;
      padding: 10px 30px;

      .dot {
        border-radius: 50%;
        font-size: 20px;
        color: #47d572;
        border: 5px solid #47d572;
        padding-top: 13px;
        width: 100px;
        height: 100px;
        text-align: center;
      }

      .title {
        font-size: 20px;
        color: #222;
        border-bottom: 1px dashed #b5b5b5;
        padding-bottom: 2px;
        font-weight: 600;
        margin-bottom: 1px;
      }

      .text {
        font-size: 20px;
        color: #8b8b8b;
      }
    }
  }

  .r-h-g {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: 1px;
  }

  .r-g {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-image: -webkit-linear-gradient(top, #bfdc7a, #8ebf45);
  }

  .r-g:before,
  .r-g:after {
    content: "";
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
  }

  .r-g:before {
    left: 0;
  }

  .r-g:after {
    right: 0;
  }
}
