.channel-channel {
  >.body {
    width: 1200px;
    margin: 20px auto 0px;
  }

  .info {
    padding: 15px;

    .item {
      display: inline-block;
      padding: 10px 30px;

      .dot{
        border-radius: 50%;
        font-size: 20px;
        color: #47d572;
        border: 5px solid #47d572;
        padding-top: 13px;
        width: 100px;
        height: 100px;
        text-align: center;
      }

      .title {
        font-size: 20px;
        color: #222;
        border-bottom: 1px dashed #b5b5b5;
        padding-bottom: 2px;
        font-weight: 600;
        margin-bottom: 1px;
      }

      .text {
        font-size: 20px;
        color: #8b8b8b
      }
    }
  }
}
