<div class="key-flex-grow-1 key-flex key-flex-h">
  <key-table title="材料出库单" [data]="listData" [canRefreshBtn]="false" [(selection)]="selection" style="width:10px;">
    <div header>
      <div class="key-btn-group">
        <button class="key-btn key-btn-default" (click)="add()">增加</button>
        <button class="key-btn key-btn-default" (click)="view()"
          [disabled]="!(!!selection && !!!selection?.row?.ShenHeRen)">修改</button>
        <button class="key-btn key-btn-default" (click)="delete()"
          [disabled]="!(!!selection && !!!selection?.row?.ShenHeRen)">删除</button>
      </div>
      <div class="key-btn-group">
        <button class="key-btn key-btn-default" (click)="openExamine()"
          [disabled]="!(!!selection && !!!selection?.row?.ShenHeRen)">审核</button>
      </div>
    </div>
    <key-table-column heading="单据编号" width="140" key="DanJuBianHao" sortable>
    </key-table-column>
    <key-table-column heading="发料仓库名称" width="140" key="FaLiaoCangKuMingCheng" sortable>
    </key-table-column>
    <key-table-column heading="出库日期" width="100" key="ChuKuRiQi" sortable>
    </key-table-column>
    <key-table-column heading="领料单位名称" width="130" key="LingLiaoDanWeiMingCheng" sortable>
    </key-table-column>
    <key-table-column heading="生产订单编号" width="130" key="ShengChanDingDanBianHao" sortable>
    </key-table-column>
    <key-table-column heading="款号" width="130" key="KuanHao" sortable>
    </key-table-column>
    <key-table-column heading="款式" width="130" key="KuanShi" sortable>
    </key-table-column>
    <key-table-column heading="制表人" width="100" key="ZhiBiaoRen" sortable>
    </key-table-column>
    <key-table-column heading="制表日期" width="100" key="ZhiBiaoRiQi" sortable>
    </key-table-column>
    <key-table-column heading="审核状态" width="100" key="ShenHeZhuangTai" sortable>
    </key-table-column>
    <key-table-column heading="审核人" width="100" key="ShenHeRen" sortable>
    </key-table-column>
    <key-table-column heading="审核日期" width="100" key="ShenHeRiQi" sortable>
    </key-table-column>
  </key-table>
</div>

<key-modal *ngIf="beanState" header="材料出库单信息" [open]="true" class="key-modal-basis" (close)="cancel()">
  <div body>
    <form class="key-row" #formDemo="ngForm">
      <div class="key-col-12">
        <key-form-element label="单据编号" [error]="bean_DanJuBianHao.errors">
          <input #bean_DanJuBianHao="ngModel" type="text" class="form-control" name="bean.DanJuBianHao"
            [(ngModel)]="bean.DanJuBianHao" required>
        </key-form-element>
        <key-form-element label="发料仓库名称" [error]="bean_FaLiaoCangKuMingCheng.errors">
          <input #bean_FaLiaoCangKuMingCheng="ngModel" type="text" class="form-control"
            name="bean.FaLiaoCangKuMingCheng" [(ngModel)]="bean.FaLiaoCangKuMingCheng" required>
        </key-form-element>
        <key-form-element label="出库日期" [error]="bean_ChuKuRiQi.errors">
          <input #bean_ChuKuRiQi="ngModel" type="date" class="form-control" name="bean.ChuKuRiQi"
            [(ngModel)]="bean.ChuKuRiQi" required>
        </key-form-element>
        <key-form-element label="领料单位名称" [error]="bean_LingLiaoDanWeiMingCheng.errors">
          <input #bean_LingLiaoDanWeiMingCheng="ngModel" type="text" class="form-control"
            name="bean.LingLiaoDanWeiMingCheng" [(ngModel)]="bean.LingLiaoDanWeiMingCheng" required>
        </key-form-element>
        <key-form-element label="生产订单编号" [error]="bean_ShengChanDingDanBianHao.errors">
          <input #bean_ShengChanDingDanBianHao="ngModel" type="text" class="form-control"
            name="bean.ShengChanDingDanBianHao" [(ngModel)]="bean.ShengChanDingDanBianHao" required>
        </key-form-element>
        <key-form-element label="款号" [error]="bean_KuanHao.errors">
          <input #bean_KuanHao="ngModel" type="text" class="form-control" name="bean.KuanHao"
            [(ngModel)]="bean.KuanHao">
        </key-form-element>
        <key-form-element label="款式" [error]="bean_KuanShi.errors">
          <input #bean_KuanShi="ngModel" type="text" class="form-control" name="bean.KuanShi"
            [(ngModel)]="bean.KuanShi">
        </key-form-element>
        <key-form-element label="制表人" [error]="bean_ZhiBiaoRen.errors">
          <input #bean_ZhiBiaoRen="ngModel" type="text" class="form-control" name="bean.ZhiBiaoRen"
            [(ngModel)]="bean.ZhiBiaoRen">
        </key-form-element>
        <key-form-element label="制表日期" [error]="bean_ZhiBiaoRiQi.errors">
          <input #bean_ZhiBiaoRiQi="ngModel" type="date" class="form-control" name="bean.ZhiBiaoRiQi"
            [(ngModel)]="bean.ZhiBiaoRiQi">
        </key-form-element>
      </div>
    </form>
  </div>
  <div footer>
    <button class="key-btn key-btn-default" (click)="cancel()">关闭</button>
    <button class="key-btn key-btn-default" (click)="save()" [disabled]="!formDemo.form.valid">保存</button>
  </div>
</key-modal>


<key-modal *ngIf="examineState" header="审核" [open]="true" class="key-modal-basis" (close)="examineCancel()">
  <div body>
    <form class="key-row" #formDemo="ngForm">
      <div class="key-col-12">
        <key-form-element label="审核状态" [error]="bean_ShenHeZhuangTai.errors">
          <input #bean_ShenHeZhuangTai="ngModel" type="text" class="form-control" name="bean.ShenHeZhuangTai"
            [(ngModel)]="bean.ShenHeZhuangTai" required>
        </key-form-element>
        <key-form-element label="审核人" [error]="bean_ShenHeRen.errors">
          <input #bean_ShenHeRen="ngModel" type="text" class="form-control" name="bean.ShenHeRen"
            [(ngModel)]="bean.ShenHeRen" required>
        </key-form-element>
        <key-form-element label="审核日期" [error]="bean_ShenHeRiQi.errors">
          <input #bean_ShenHeRiQi="ngModel" type="date" class="form-control" name="bean.ShenHeRiQi"
            [(ngModel)]="bean.ShenHeRiQi" required>
        </key-form-element>
      </div>
    </form>
  </div>
  <div footer>
    <button class="key-btn key-btn-default" (click)="examineCancel()">关闭</button>
    <button class="key-btn key-btn-default" (click)="save()" [disabled]="!formDemo.form.valid">保存</button>
  </div>
</key-modal>