.school-project {
  >.body {
    width: 1200px;
    margin: 20px auto 0px;

    .filter-row {
      margin-top: 10px;

      .search {
        float: right;
        width: 300px;
      }
    }

    .list {
      margin-top: 10px;

      .header {
        color: #000000;
        background-color: #c1e8d4;
        font-size: 15px;
        padding: 6px;
      }

      .body {
        .row {
          border-bottom: 1px solid #ddd;
          padding: 5px 0px;

          .col {
            padding: 6px 8px;
            text-align: left;
            float: left;

            &.col-1 {
              width: 161px;
              overflow: hidden;

              img {
                max-width: 100%;
              }
            }

            &.col-2 {
              width: 1039px;


              .title {
                font-size: 18px;
                color: #000;
                margin-bottom: 6px;
                margin-top: 6px;

                .time {
                  float: right;
                  font-size: 16px;
                }
              }

              .label {
                color: #6f6f6f;
                font-size: 15px;
                margin-bottom: 5px;

                span {
                  display: inline-block;
                }

                &.label-width {
                  span {
                    width: 230px;
                    padding-right: 5px;
                  }
                }
              }

              button {
                display: block;
                margin-bottom: 8px;
                min-width: 100px;
                background-color: #f4a674;
                border-color: #f4a674;
              }
            }
          }

          &:hover,
          &.active {
            background-color: #f5f5f5;
          }
        }
      }

      .footer {
        .pagination {
          margin-top: 15px;
          text-align: right;
        }
      }
    }
  }
}