<div class="commodity-details">
  <!-- 横幅 -->
  <fm-banner-menu [srcUrl]="CH_FM_BANNER_SRC" [dataMenu]="CH_FM_BANNER_MENU" (clickMenu)="onClickBannerMenu($event)">
  </fm-banner-menu>

  <div class="body">
    <!-- 面包屑 -->
    <nz-breadcrumb class="breadcrumb" nzSeparator='>'>
      <nz-breadcrumb-item>
        <a (click)="portalNav.onHome()">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a (click)="portalNav.openFurnitureMall()">家具商城</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a (click)="portalNav.openCommodity()">商品</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        商品详情
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="header">
      <div class="z-row">
        <div class="z-col z-col-2 left">
          <div class="max-box">
            <img [src]="itemInfo.src">
          </div>
          <div class="min-box">
            <div class="item" [class.active]="itemActiveIndex == 1" (click)="itemActiveIndex = 1">
              <img [src]="itemInfo.src">
            </div>
            <div class="item" [class.active]="itemActiveIndex == 2" (click)="itemActiveIndex = 2">
              <img [src]="itemInfo.src">
            </div>
            <div class="item" [class.active]="itemActiveIndex == 3" (click)="itemActiveIndex = 3">
              <img [src]="itemInfo.src">
            </div>
            <div class="item" [class.active]="itemActiveIndex == 4" (click)="itemActiveIndex = 4">
              <img [src]="itemInfo.src">
            </div>
            <div class="item" [class.active]="itemActiveIndex == 5" (click)="itemActiveIndex = 5">
              <img [src]="itemInfo.src">
            </div>
          </div>
        </div>
        <div class="z-col z-col-2 right">
          <div class="title">{{itemInfo.ShangPinMingCheng}}</div>
          <div class="PinLei">{{itemInfo.PinLei}}</div>
          <div class="label">品牌：{{itemInfo.PinPai}}</div>
          <div class="label">规格：{{itemInfo.GuiGe}}</div>
          <div class="label">产地：{{itemInfo.ChanDi}}</div>
          <div class="DanJia">￥{{itemInfo.DanJia}}</div>
          <!-- <div class="label" style="margin-bottom: 7px;">配送：XXX省 XXX市 至 XXX省
            XXX市</div> -->
          <div class="label">
            款式选择：
            <ng-template ngFor let-item [ngForOf]="CH_KuanShiFenLei" let-index="index">
              <span [class.active]="itemInfo.KuanShiFenLei == item.id" (click)="itemInfo.KuanShiFenLei = item.id">
                {{item.text}}
              </span>
            </ng-template>
          </div>
          <div class="label">
            颜色选择：
            <ng-template ngFor let-item [ngForOf]="CH_YanSeFenLei" let-index="index">
              <span [class.active]="itemInfo.YanSeFenLei == item.id" (click)="itemInfo.YanSeFenLei = item.id">
                {{item.text}}
              </span>
            </ng-template>
          </div>
          <div class="label">
            服务选择：
            <ng-template ngFor let-item [ngForOf]="CH_AnZhuangFangShi" let-index="index">
              <span [class.active]="itemInfo.AnZhuangFangShi == item.id" (click)="itemInfo.AnZhuangFangShi = item.id">
                {{item.text}}
              </span>
            </ng-template>
          </div>
          <div class="btn-div">
            <button class="btn btn1" nz-button nzType="primary" (click)="onCollection()">收藏</button>
            <button class="btn btn2" nz-button nzType="primary" (click)="onAddPurchase()">购买</button>
          </div>
        </div>
      </div>
    </div>

    <div class="body">
      <div class="left">
        <div class="top">
          {{itemInfo.DianPu}}
        </div>
        <div class="body">
          <div class="img-box">
            <img [src]="itemInfo.dfSrc">
          </div>
          <div class="label" style="margin-bottom: 15px;">
            {{itemInfo.DianPuMingCheng}}
          </div>
          <div class="biaoQian">
            <div class="item" (click)="portalNav.openShop()">
              进店逛逛
            </div>
            <div class="item" [class.active]="activeCollection" (click)="onCollectionDf()">
              收藏店铺
            </div>
          </div>
          <div class="label">
            店铺得分
          </div>
          <div class="label">
            描述：{{itemInfo.MiaoShuPingFen}}
          </div>
          <div class="label">
            服务：{{itemInfo.FuWuPingFen}}
          </div>
          <div class="label">
            物流：{{itemInfo.WuLiuPingFen}}
          </div>
          <div class="kf">
            <br>
            <key-dot-title title="售前客服" [styles]="{'color':'#fff','fontSize.px':'15'}">
            </key-dot-title>
            <div class="z-row">
              <div class="z-col z-col-3">
                <img src="assets/imgs/shop/kf.jpg">
                <div>客服1</div>
              </div>
              <div class="z-col z-col-3">
                <img src="assets/imgs/shop/kf.jpg">
                <div>客服2</div>
              </div>
              <div class="z-col z-col-3">
                <img src="assets/imgs/shop/kf.jpg">
                <div>客服3</div>
              </div>
            </div>
            <div class="z-row">
              <div class="z-col z-col-3">
                <img src="assets/imgs/shop/kf.jpg">
                <div>客服4</div>
              </div>
              <div class="z-col z-col-3">
                <img src="assets/imgs/shop/kf.jpg">
                <div>客服5</div>
              </div>
              <div class="z-col z-col-3">
                <img src="assets/imgs/shop/kf.jpg">
                <div>客服6</div>
              </div>
            </div>
            <br>
            <key-dot-title title="售后客服" [styles]="{'color':'#fff','fontSize.px':'15'}">
            </key-dot-title>
            <div class="z-row">
              <div class="z-col z-col-3">
                <img src="assets/imgs/shop/kf.jpg">
                <div>客服1</div>
              </div>
              <div class="z-col z-col-3">
                <img src="assets/imgs/shop/kf.jpg">
                <div>客服2</div>
              </div>
              <div class="z-col z-col-3">
                <img src="assets/imgs/shop/kf.jpg">
                <div>客服3</div>
              </div>
            </div>
            <div class="z-row">
              <div class="z-col z-col-3">
                <img src="assets/imgs/shop/kf.jpg">
                <div>客服4</div>
              </div>
              <div class="z-col z-col-3">
                <img src="assets/imgs/shop/kf.jpg">
                <div>客服5</div>
              </div>
              <div class="z-col z-col-3">
                <img src="assets/imgs/shop/kf.jpg">
                <div>客服6</div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="right">
        <div class="header">
          <div class="item" [class.active]="activeIndex == 1" (click)="activeIndex = 1">
            图片详情
          </div>
          <div class="item" [class.active]="activeIndex == 2" (click)="activeIndex = 2">
            累计评论（10）
          </div>
        </div>
        <div class="body">
          <ng-template [ngIf]="activeIndex == 1">
            <ng-template ngFor let-item [ngForOf]="itemInfo.TuPianXiangQing" let-index="index">
              <img [src]="item.src" style="max-width: 100%">
            </ng-template>
          </ng-template>
          <ng-template [ngIf]="activeIndex == 2">
            <ng-template ngFor let-item [ngForOf]="dataHandler.data" let-index="index">
              <div class="item-msg">
                <div class="img">
                  <img [src]="item.src">
                </div>
                <div class="info">
                  <div class="label singleTextBeyondHide">
                    {{item.YongHuMing}} 
                    <span class="niming">（匿名）</span>
                  </div>
                </div>
                <div class="liuyan">
                  {{item.LeiJiPingLun}}
                </div>
                <div class="clearfix"></div>
              </div>
            </ng-template>
          </ng-template>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>