<div class="furniture-raw-shopping">
  <!-- 横幅 -->
  <me-banner-menu [srcUrl]="CH_ME_MATERIAL_BANNER_SRC"
    [dataMenu]="CH_ME_BANNER_MENU" activeTitle="原辅材料团购" activeSubTitle="家具辅料团购"
    (clickMenu)="onClickBannerMenu($event)">
  </me-banner-menu>

  <div class="body">
    <!-- 面包屑 -->
    <nz-breadcrumb class="breadcrumb" nzSeparator='>'>
      <nz-breadcrumb-item>
        <a (click)="portalNav.onHome()">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a (click)="portalNav.openMaterialEquipment()">原辅材料机械设备服务</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a (click)="portalNav.openmMaterialShopping()">原辅材料团购</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        家具辅料团购
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>

  <!-- 标题 -->
  <key-item-chunk marginTop="20" title="家具辅料团购"
    enTitle="GROUP PURCHASE OF FURNITURE ACCESSORIES">
    <div body>
      <key-item-chunk-body>
        <!-- 条件选择区 -->
        <key-dot-title title="条件选择区"></key-dot-title>
        <ng-template ngFor let-item [ngForOf]="dataHandler.TYPE_FILTER"
          let-index="index">
          <key-menu-type [title]="item.title" [data]="item.data"
            (clickType)="onClickType($event)"></key-menu-type>
        </ng-template>
        <!-- 过滤 -->
        <div class="filter-row">
          <key-button-sort label="按价格" [active]="btnSortActiveMap['price']"
            (clickChange)="onClickButtonSortChange($event,'price')">
          </key-button-sort>
          <key-button-sort label="按销售数量" [active]="btnSortActiveMap['qty']"
            (clickChange)="onClickButtonSortChange($event,'qty')">
          </key-button-sort>

          <div class="search">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <input type="text" nz-input placeholder="请输入产品、类型"
                [(ngModel)]="searchValue" />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" nzSearch (click)="onSearch()">
                <i nz-icon type="search"></i></button>
            </ng-template>
          </div>
        </div>

        <!-- 列表数据 -->
        <div *ngIf="listData != null && listData.length > 0">
          <div nz-row>
            <ng-template ngFor let-item [ngForOf]="listData" let-index="index">
              <div nz-col nzSpan="6" style="margin-bottom: 6px;height: 534px;">
                <div class="key-item-box item-box-bg item-box-margin-3">
                  <div class="header">
                    <img [src]="item.src">
                  </div>
                  <div class="body">
                    <div class="title" [title]="item.title">产品：{{item.title}}
                    </div>
                    <div class="label">类型：{{item.type}}</div>
                    <div class="label">产地：{{item.area}}</div>
                    <div class="label">所在地：{{item.location}}</div>
                    <div class="label">规格：{{item.specs}}</div>
                    <div class="label">价格：{{item.price}}</div>
                    <div class="label">销售数量：{{item.qty}}</div>
                  </div>
                  <div class="footer">
                    <button class="btn-bg" nz-button nzSize="small"
                      nzType="primary" (click)="onPartake(item.id)"
                      style="margin-right: 6px">点击参与</button>
                    <button class="btn-bg" nz-button nzSize="small"
                      nzType="primary" (click)="onAddPurchase(item.id)"
                      style="margin-right: 6px">加购</button>
                    <button class="btn-bg" nz-button nzSize="small"
                      nzType="primary"
                      (click)="onCollection(item.id)">收藏</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
          <div class="pagination">
            <nz-pagination [(nzPageIndex)]="activePagaIndex" [nzTotal]="total"
              [nzShowTotal]="rangeTemplate" [nzPageSize]="pageSize"
              (nzPageIndexChange)="onPageIndexChange($event)">
            </nz-pagination>
            <ng-template #rangeTemplate let-range="range" let-total>
              显示 {{ range[0] }}-{{ range[1] }} 条，共 {{ total }} 条
            </ng-template>
          </div>
        </div>
        <div *ngIf="!(listData != null && listData.length > 0)">
          <nz-empty></nz-empty>
        </div>
      </key-item-chunk-body>
    </div>
  </key-item-chunk>

</div>