<div class="se-resources">
  <!-- 横幅 -->
  <sec-banner-menu [srcUrl]="CH_SEC_BANNER_SRC" [dataMenu]="CH_SEC_BANNER_MENU" activeTitle='校企资源'
    (clickMenu)="onClickBannerMenu($event)">
  </sec-banner-menu>

  <div class="body">
    <!-- 面包屑 -->
    <nz-breadcrumb class="breadcrumb" nzSeparator='>'>
      <nz-breadcrumb-item>
        <a (click)="portalNav.onHome()">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a (click)="portalNav.openSECooperation()">校企合作服务</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        校企资源
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <!-- 标题 -->
    <key-item-chunk title="校企资源" marginTop="20"
      enTitle="SCHOOL-ENTERPRISE RESOURCES">
    </key-item-chunk>

    <!-- 条件选择区 -->
    <key-dot-title title="条件选择区"></key-dot-title>
    <ng-template ngFor let-item [ngForOf]="dataHandler.TYPE_FILTER"
      let-index="index">
      <key-menu-type [title]="item.title" [data]="item.data"
        (clickType)="onClickType($event)"></key-menu-type>
    </ng-template>

    <!-- 过滤 -->
    <div class="filter-row">
      <!-- 选择地区 -->
      <!-- <span style="margin: 0px 5px 0px 0px;">选择地区</span>
      <nz-select nzAllowClear="true" name="DiQu" [(ngModel)]="DiQu"
        (ngModelChange)="onSelectDiQu(DiQu)" style="width:200px;">
        <ng-template ngFor let-item [ngForOf]="provinceList" let-index="index">
          <nz-option [nzValue]="item.id" [nzLabel]="item.text">
          </nz-option>
        </ng-template>
      </nz-select> -->
      <div class="search">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="请输入资源名称"
            [(ngModel)]="searchValue" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch (click)="onSearch()">
            <i nz-icon type="search"></i></button>
        </ng-template>
      </div>
      <div class="clearfix"></div>
    </div>

    <!-- 列表数据 -->
    <div *ngIf="listData != null && listData.length > 0">
      <div class="list">
        <div class="header">
          <div class="col col-1">校企资源列表</div>
          <div class="col col-2">高校或科研机构级别</div>
          <div class="col col-3">操作</div>
          <div class="clearfix"></div>
        </div>
        <div class="body">
          <ng-template ngFor let-item [ngForOf]="listData" let-index="index">
            <div class="row">
              <div class="col col-1">
                <img [src]='item.src'>
              </div>
              <div class="col col-2">
                <div class="title singleTextBeyondHide">
                  {{item.MingCheng}}
                </div>
                <div class="label" style="height: 44px;overflow: hidden;">
                  {{item.ZhuYingYeWu}}</div>
                <div class="label">{{item.RiQi}}</div>
              </div>
              <div class="col col-3">
                <span>
                  {{item.JiBie}}
                </span>
              </div>
              <div class="col col-4">
                <button nz-button nzType="primary"
                  (click)="onViewDetails(item.id)">查看详情</button>
              </div>
              <div class="clearfix"></div>
            </div>
          </ng-template>
        </div>
        <div class="footer">
          <div class="pagination">
            <nz-pagination [nzPageIndex]="1" [nzTotal]="total"
              [nzShowTotal]="rangeTemplate" [nzPageSize]="pageSize"
              (nzPageIndexChange)="onPageIndexChange($event)">
            </nz-pagination>
            <ng-template #rangeTemplate let-range="range" let-total>
              显示 {{ range[0] }}-{{ range[1] }} 条，共 {{ total }} 条
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!(listData != null && listData.length > 0)">
      <nz-empty></nz-empty>
    </div>

  </div>
</div>