<div class="fm-banner-menu" [class.min-banner]="isMinBanner">
  <nz-carousel nzAutoPlay>
    <div nz-carousel-content *ngFor="let url of srcUrl">
      <img class="bg" [src]="url">
    </div>
  </nz-carousel>
  <!-- <img class="bg" [src]="srcUrl"> -->
  <key-vertical-menu *ngIf="isMenu" [data]="dataMenu" (clickMenu)="onClickMenu($event)" [activeTitle]="activeTitle"
    [activeSubTitle]="activeSubTitle" [styles]="{'position':'absolute','top':'0px','left':'6%'}">
  </key-vertical-menu>
  <ng-content></ng-content>
</div>