<div class="key-flex-grow-1 key-flex key-flex-h">
  <key-table-split title="生产计划排单规则" [data]="listData" [canRefreshBtn]="false" [(selection)]="selection"
    style="width:10px;">
    <div header>
      <div class="key-btn-group">
        <button class="key-btn key-btn-default" (click)="add()">增加</button>
        <button class="key-btn key-btn-default" (click)="view()" [disabled]="!!!selection">修改</button>
        <button class="key-btn key-btn-default" (click)="delete()" [disabled]="!!!selection">删除</button>
      </div>
    </div>

    <key-table-column heading="规则名称" width="140" key="GuiZeMingCheng" sortable>
    </key-table-column>
    <key-table-column heading="周期(天)" width="120" key="DingDanBianHao" sortable>
      <ng-template let-row="row">
        {{row?.ZhiYang + row?.YangPin + row?.ShengChanZhiZaoDan + row?.GongShiGongJiaBiao +
           row?.CaiLiaoCaiGou + row?.CaiLiaoJianYan + row?.CaiLiaoPingHeng + 
           row?.ChanQianYangZhiZuo + row?.ChanQianShenHe + row?.KaiCai + 
           row?.FengZhi + row?.ChuJian + row?.ZhengTang + row?.ZhongJian + row?.BaoZhuang + 
           row?.WeiJian + row?.RuKu}}
      </ng-template>
    </key-table-column>
    <key-table-column heading="制图(天)" width="100" key="ZhiYang" sortable>
    </key-table-column>
    <key-table-column heading="样品(天)" width="100" key="YangPin" sortable>
    </key-table-column>
    <key-table-column heading="生产制造单(天)" width="150" key="ShengChanZhiZaoDan" sortable>
    </key-table-column>
    <key-table-column heading="工时工价表(天)" width="150" key="GongShiGongJiaBiao" sortable>
    </key-table-column>
    <key-table-column heading="材料采购(天)" width="120" key="CaiLiaoCaiGou" sortable>
    </key-table-column>
    <key-table-column heading="材料检验(天)" width="120" key="CaiLiaoJianYan" sortable>
    </key-table-column>
    <key-table-column heading="材料平衡(天)" width="120" key="CaiLiaoPingHeng" sortable>
    </key-table-column>
    <key-table-column heading="产前样制作(天)" width="150" key="ChanQianYangZhiZuo" sortable>
    </key-table-column>
    <key-table-column heading="产前审核(天)" width="120" key="ChanQianShenHe" sortable>
    </key-table-column>
    <key-table-column heading="开料(天)" width="100" key="KaiCai" sortable>
    </key-table-column>
    <key-table-column heading="机加(天)" width="100" key="FengZhi" sortable>
    </key-table-column>
    <key-table-column heading="初检(天)" width="100" key="ChuJian" sortable>
    </key-table-column>
    <key-table-column heading="组装(天)" width="100" key="ZhengTang" sortable>
    </key-table-column>
    <key-table-column heading="中检(天)" width="100" key="ZhongJian" sortable>
    </key-table-column>
    <key-table-column heading="油漆(天)" width="100" key="BaoZhuang" sortable>
    </key-table-column>
    <key-table-column heading="尾捡(天)" width="100" key="WeiJian" sortable>
    </key-table-column>
    <key-table-column heading="入库(天)" width="100" key="RuKu" sortable>
    </key-table-column>
  </key-table-split>
</div>

<key-modal *ngIf="beanState" header="生产计划排单规则信息" [open]="true" [largest]="true"
  class="key-modal-basis key-modal-basis-lg" (close)="cancel()">
  <div body>
    <form class="key-row" #formDemo="ngForm">
      <div class="key-col-12">
        <key-form-element label="规则名称" [error]="bean_GuiZeMingCheng.errors">
          <input #bean_GuiZeMingCheng="ngModel" type="text" class="form-control" name="bean.GuiZeMingCheng"
            [(ngModel)]="bean.GuiZeMingCheng" required>
        </key-form-element>
      </div>
      <div class="key-col-6">
        <key-form-element label="制图" [error]="bean_ZhiYang.errors">
          <input #bean_ZhiYang="ngModel" type="number" step="0.1" min="0" class="form-control" name="bean.ZhiYang"
            [(ngModel)]="bean.ZhiYang">
        </key-form-element>
        <key-form-element label="样品" [error]="bean_YangPin.errors">
          <input #bean_YangPin="ngModel" type="number" step="0.1" min="0" class="form-control" name="bean.YangPin"
            [(ngModel)]="bean.YangPin">
        </key-form-element>
        <key-form-element label="生产制造单" [error]="bean_ShengChanZhiZaoDan.errors">
          <input #bean_ShengChanZhiZaoDan="ngModel" type="number" step="0.1" min="0" class="form-control"
            name="bean.ShengChanZhiZaoDan" [(ngModel)]="bean.ShengChanZhiZaoDan">
        </key-form-element>
        <key-form-element label="工时工价表" [error]="bean_GongShiGongJiaBiao.errors">
          <input #bean_GongShiGongJiaBiao="ngModel" type="number" step="0.1" min="0" class="form-control"
            name="bean.GongShiGongJiaBiao" [(ngModel)]="bean.GongShiGongJiaBiao">
        </key-form-element>
        <key-form-element label="材料采购" [error]="bean_CaiLiaoCaiGou.errors">
          <input #bean_CaiLiaoCaiGou="ngModel" type="number" step="0.1" min="0" class="form-control"
            name="bean.CaiLiaoCaiGou" [(ngModel)]="bean.CaiLiaoCaiGou">
        </key-form-element>
        <key-form-element label="材料检验" [error]="bean_CaiLiaoJianYan.errors">
          <input #bean_CaiLiaoJianYan="ngModel" type="number" step="0.1" min="0" class="form-control"
            name="bean.CaiLiaoJianYan" [(ngModel)]="bean.CaiLiaoJianYan">
        </key-form-element>
        <key-form-element label="材料平衡" [error]="bean_CaiLiaoPingHeng.errors">
          <input #bean_CaiLiaoPingHeng="ngModel" type="number" step="0.1" min="0" class="form-control"
            name="bean.CaiLiaoPingHeng" [(ngModel)]="bean.CaiLiaoPingHeng">
        </key-form-element>
        <key-form-element label="产前样制作" [error]="bean_ChanQianYangZhiZuo.errors">
          <input #bean_ChanQianYangZhiZuo="ngModel" type="number" step="0.1" min="0" class="form-control"
            name="bean.ChanQianYangZhiZuo" [(ngModel)]="bean.ChanQianYangZhiZuo">
        </key-form-element>
      </div>
      <div class="key-col-6">
        <key-form-element label="产前审核" [error]="bean_ChanQianShenHe.errors">
          <input #bean_ChanQianShenHe="ngModel" type="number" step="0.1" min="0" class="form-control"
            name="bean.ChanQianShenHe" [(ngModel)]="bean.ChanQianShenHe">
        </key-form-element>
        <key-form-element label="开料" [error]="bean_KaiCai.errors">
          <input #bean_KaiCai="ngModel" type="number" step="0.1" min="0" class="form-control" name="bean.KaiCai"
            [(ngModel)]="bean.KaiCai">
        </key-form-element>
        <key-form-element label="机加" [error]="bean_FengZhi.errors">
          <input #bean_FengZhi="ngModel" type="number" step="0.1" min="0" class="form-control" name="bean.FengZhi"
            [(ngModel)]="bean.FengZhi">
        </key-form-element>
        <key-form-element label="初检" [error]="bean_ChuJian.errors">
          <input #bean_ChuJian="ngModel" type="number" step="0.1" min="0" class="form-control" name="bean.ChuJian"
            [(ngModel)]="bean.ChuJian">
        </key-form-element>
        <key-form-element label="组装" [error]="bean_ZhengTang.errors">
          <input #bean_ZhengTang="ngModel" type="number" step="0.1" min="0" class="form-control" name="bean.ZhengTang"
            [(ngModel)]="bean.ZhengTang">
        </key-form-element>
        <key-form-element label="中检" [error]="bean_ZhongJian.errors">
          <input #bean_ZhongJian="ngModel" type="number" step="0.1" min="0" class="form-control" name="bean.ZhongJian"
            [(ngModel)]="bean.ZhongJian">
        </key-form-element>
        <key-form-element label="油漆" [error]="bean_BaoZhuang.errors">
          <input #bean_BaoZhuang="ngModel" type="number" step="0.1" min="0" class="form-control" name="bean.BaoZhuang"
            [(ngModel)]="bean.BaoZhuang">
        </key-form-element>
        <key-form-element label="尾捡" [error]="bean_WeiJian.errors">
          <input #bean_WeiJian="ngModel" type="number" step="0.1" min="0" class="form-control" name="bean.WeiJian"
            [(ngModel)]="bean.WeiJian">
        </key-form-element>
        <key-form-element label="入库" [error]="bean_RuKu.errors">
          <input #bean_RuKu="ngModel" type="number" step="0.1" min="0" class="form-control" name="bean.RuKu"
            [(ngModel)]="bean.RuKu">
        </key-form-element>
      </div>
    </form>
  </div>
  <div footer>
    <button class="key-btn key-btn-default" (click)="cancel()">关闭</button>
    <button class="key-btn key-btn-default" (click)="save()" [disabled]="!formDemo.form.valid">保存</button>
  </div>
</key-modal>