<div class="protal-header flex flex-h">
  <div class="logo flex flex-v flex-no-shrink">
    <a (click)="portalNav.onHome()"
      class="box-v box-h flex flex-v flex-h-center flex-v-center">
      <span>家具产业链互联网平台</span>
      <samp>FURNITURE INDUSTRY CHAIN INTERNET PLATFORM</samp>
    </a>
  </div>
  <div class="menu flex flex-grow-1">
    <ul class="menu-ul">
      <li (click)="portalNav.onHome()">首页</li>
      <li (click)="portalNav.openProductDesign($event)">产品设计开发服务</li>
      <li (click)="portalNav.openEnterpriseResource($event)">企业资源管理系统</li>
      <li (click)="portalNav.openSECooperation($event)">校企合作服务
        <ul class="sub-menu-ul">
          <!-- class="arrow" -->
          <li (click)="portalNav.openSchoolProject($event)">学校项目
            <!-- <ul class="three-menu-ul">
              <li>学校项目一</li>
              <li>学校项目二</li>
              <li>学校项目三</li>
            </ul> -->
          </li>
          <li (click)="portalNav.openEnterpriseNeeds($event)">企业需求</li>
          <li (click)="portalNav.openSeResources($event)">校企资源</li>
          <li (click)="portalNav.openEnterpriseRecruitment($event)">企业招聘</li>
          <li (click)="portalNav.openInteractionForum($event)">互动讲堂</li>
          <li (click)="portalNav.openSeNews($event)">校企新闻</li>
          <li (click)="portalNav.openSeekExpert($event)">有困难找专家</li>
          <li (click)="portalNav.openFileDownload($event)">文件下载</li>
        </ul>
      </li>
      <li (click)="portalNav.openIntegratedServices($event)">
        综合服务
        <ul class="sub-menu-ul">
          <li class="arrow" (click)="portalNav.openExhibition($event)">展会服务
            <ul class="three-menu-ul">
              <li (click)="portalNav.openFurnitureFair($event)">家具展会详细</li>
              <li (click)="portalNav.openPreRegistration($event)">预登记详细</li>
              <li (click)="portalNav.openApplyExhibitors($event)">申请参展详细</li>
            </ul>
          </li>
          <li class="arrow" (click)="portalNav.openGovernment($event)">政府服务
            <ul class="three-menu-ul">
              <li (click)="portalNav.openFurnitureStandard($event)">家具国家标准</li>
              <li (click)="portalNav.openPatentService($event)">专利服务</li>
            </ul>
          </li>
          <li class="arrow" (click)="portalNav.openFinance($event)">金融服务
            <ul class="three-menu-ul">
              <li (click)="portalNav.openFindingFunds($event)">找资金</li>
              <li (click)="portalNav.openSelectedItems($event)">选项目</li>
              <li (click)="portalNav.openOfflineFinancing($event)">线下融资活动</li>
              <!-- <li (click)="portalNav.openFundInformation($event)">资金信息详细</li>
              <li (click)="portalNav.openProjectInformation($event)">项目信息详细</li> -->
            </ul>
          </li>
          <li class="arrow" (click)="portalNav.openFurnitureDelivery($event)">家具送装
            <ul class="three-menu-ul">
              <li (click)="portalNav.openDeliveryOrder($event)">送装下单</li>
              <li (click)="portalNav.openServiceIntroduction($event)">服务介绍</li>
              <li (click)="portalNav.openMasterJoined($event)">师傅加入</li>
              <li (click)="portalNav.openMerchantOpening($event)">商家开通</li>
            </ul>
          </li>
        </ul>
      </li>
      <li (click)="portalNav.openMaterialEquipment($event)">原辅材料机械设备服务
        <ul class="sub-menu-ul">
          <li (click)="portalNav.openMaterialMart($event)">原辅材料商城</li>
          <li class="arrow" (click)="portalNav.openmMaterialShopping($event)">
            原辅材料团购
            <ul class="three-menu-ul">
              <li (click)="portalNav.openWoodShopping($event)">木材团购</li>
              <li (click)="portalNav.openFurnitureRawShopping($event)">家具辅料团购
              </li>
            </ul>
          </li>
          <li (click)="portalNav.openMaterialPurchase($event)">原辅材料求购</li>
          <li (click)="portalNav.openMaterialSupplier($event)">原辅材料供应商</li>
          <li (click)="portalNav.openTimberAuction($event)">木材拍卖行</li>
          <li (click)="portalNav.openEquipmentMart($event)">机械设备商城</li>
          <li (click)="portalNav.openEquipmentSupplier($event)">机械设备供应商</li>
          <li (click)="portalNav.openEquipmentPurchase($event)">机械设备求购</li>
        </ul>
      </li>
      <li (click)="portalNav.openFurnitureMall($event)">家具商城</li>
    </ul>
  </div>
  <div class="user-info flex flex-no-shrink">
    <a (click)="portalNav.onLogin()">登录</a>
    |
    <a (click)="portalNav.onRegister()">注册</a>
  </div>
</div>

<div style="height: 80px;"></div>