$PROTAL_HEADER_HEIGHT: 80px;
$PROTAL_HEADER_HEIGHT_MIN: 50px;
$MENU_A_HOVER_COLOR:#84c486;

.protal-header-auxiliary {
  height: $PROTAL_HEADER_HEIGHT;

  &.protal-header-auxiliary-min {
    height: $PROTAL_HEADER_HEIGHT_MIN;
  }
}

.protal-header {
  height: $PROTAL_HEADER_HEIGHT;
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 9999;

  // logo
  .logo {
    text-align: center;
    color: #00e345;
    margin: 0px 36px;
    font-family: "黑体";
    text-align-last: justify;

    a {
      color: #00e345;

      span {
        width: 100%;
        font-size: 28px;
        line-height: 36px;
      }

      samp {
        width: 100%;
        font-size: 12px;
      }
    }
  }

  // 菜单
  .menu {
    z-index: 100;
    line-height: $PROTAL_HEADER_HEIGHT;

    .menu-ul {
      >li {
        float: left;
        padding: 0px 20px;
        position: relative;

        // 二级菜单
        .sub-menu-ul {
          display: none;
          background-color: #a9d4ae;
          background-color: rgba(131, 195, 134, 0.8);
          text-align: center;
          width: 142px;
          position: absolute;
          left: 50%;
          top: 69px;
          margin-left: -71px;
          color: #fff;
          padding: 10px 0px;

          >li {
            line-height: 50px;
            position: relative;

            &.arrow {
              &::after {
                content: "";
                position: absolute;
                top: 20px;
                right: 10px;
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-left: 6px solid #fff;
                border-bottom: 6px solid transparent;
              }
            }

            // 三级菜单
            .three-menu-ul {
              display: none;
              background-color: #a9d4ae;
              background-color: rgba(131, 195, 134, 0.8);
              text-align: center;
              width: 142px;
              position: absolute;
              top: 0px;
              left: 142px;
              color: #fff;
              padding: 10px 0px;
              border-left: 1px solid #fff;

              >li {
                line-height: 50px;
                position: relative;

                &:hover {
                  color: #333;
                  background-color: #84c486;
                  cursor: pointer;
                }
              }
            }

            &:hover {
              color: #333;
              background-color: #76bb78;
              cursor: pointer;

              .three-menu-ul {
                display: block;
              }

              &.arrow {
                &::after {
                  content: "";
                  position: absolute;
                  top: 22px;
                  right: 10px;
                  width: 0;
                  height: 0;
                  border-right: 6px solid transparent;
                  border-left: 6px solid transparent;
                  border-top: 6px solid #fff;
                }
              }
            }
          }
        }

        &:hover {
          color: $MENU_A_HOVER_COLOR;
          cursor: pointer;

          .sub-menu-ul {
            display: block;
          }
        }
      }
    }
  }

  // 用户信息
  .user-info {
    line-height: $PROTAL_HEADER_HEIGHT;

    a {
      color: #fff;
      margin: 0px 15px;

      &:hover {
        color: $MENU_A_HOVER_COLOR;
      }
    }
  }

  &.protal-header-min {
    height: $PROTAL_HEADER_HEIGHT_MIN;

    // logo
    .logo {
      a {
        samp {
          display: none;
        }
      }
    }

    // 菜单
    .menu {
      line-height: $PROTAL_HEADER_HEIGHT_MIN;

      .menu-ul {
        >li {

          // 二级菜单
          .sub-menu-ul {
            top: 42px;
          }
        }
      }
    }
  }
}