.material-purchase {
  >.body {
    width: 1200px;
    margin: 20px auto 0px;

    .filter-row {
      margin-top: 15px;
      margin-bottom: 10px;

      .search {
        float: right;
        width: 300px;
      }
    }

    .list {
      margin-top: 15px;

      .header,
      .body {
        .row {
          .col {
            padding: 6px 10px;
            text-align: left;
            float: left;

            &.col-1 {
              width: 180px;
            }

            &.col-2 {
              width: 170px;
            }

            &.col-3 {
              width: 165px;
            }

            &.col-4 {
              width: 165px;
            }

            &.col-5 {
              width: 180px;
            }

            &.col-6 {
              width: 110px;
            }

            &.col-7 {
              width: 110px;
            }

            &.col-8 {
              width: 120px;

              button {
                display: block;
                min-width: 80px;
                background-color: #f4a674;
                border-color: #f4a674;
              }
            }
          }
        }
      }

      .header {
        .row {
          color: #000000;
          background-color: #c1e8d4;
          font-size: 15px;
        }
      }

      .body {
        .row {
          border-bottom: 1px solid #ddd;
          padding: 5px 0px;

          &:hover,
          &.active {
            background-color: #f5f5f5;
          }
        }
      }

      .footer {
        .pagination {
          margin-top: 15px;
          text-align: right;
        }
      }
    }

  }
}