.furniture-mall {
  >.body {
    width: 1200px;
    margin: 20px auto 0px;
  }

  .key-item-box-no{
    border-width: 0px !important;
    
    &:hover,
    &.active {
      background-color: #d2f5d2;
      color: #fff;
      border: 1px solid #d2f5d2;
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
    }
  }
}