.data-analysis {

  // 行业智库
  .item-itt {
    margin-bottom: 10px;
    background-color: #f8f8f8;
    height: 179px;

    .img {
      float: left;
      width: 337px;
    }

    .body {
      margin-left: 337px;
      padding: 12px 15px;
      height: 100%;

      .text {
        font-size: 18px;
        height: 134px;
        overflow: hidden;
      }

      .info {
        .author {
          color: #666666;
        }

        .time {
          float: right;
          color: #5fb35f;
        }
      }
    }
  }
}