<ul class="key-vertical-menu" [class.key-vertical-menu-200]="isWidth200"
  [ngStyle]="styles">
  <ng-template ngFor let-menu [ngForOf]="data" let-index="index">
    <li [class.arrow]="menu.subMenu != null && menu.subMenu.length > 0"
      (click)="onClickMenu(menu,$event)"
      [class.active]="menu.title == activeTitle">
      {{menu.title}}
      <ul *ngIf="menu.subMenu != null && menu.subMenu.length > 0"
        class="sub-menu-ul">
        <ng-template ngFor let-menuSub [ngForOf]="menu.subMenu"
          let-indexSub="index">
          <li (click)="onClickMenu(menuSub,$event)"
            [class.active]="menuSub.title == activeSubTitle">{{menuSub.title}}</li>
        </ng-template>
      </ul>
    </li>
  </ng-template>
</ul>