<div class="brand">
  <!-- 横幅 -->
  <fm-banner-menu [srcUrl]="CH_FM_BANNER_SRC" [dataMenu]="CH_FM_BANNER_MENU" activeTitle="品牌"
    (clickMenu)="onClickBannerMenu($event)">
  </fm-banner-menu>

  <div class="body">
    <!-- 面包屑 -->
    <nz-breadcrumb class="breadcrumb" nzSeparator='>'>
      <nz-breadcrumb-item>
        <a (click)="portalNav.onHome()">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a (click)="portalNav.openFurnitureMall()">家具商城</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        品牌
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>

  <!-- 品牌推荐 -->
  <key-item-chunk [enTitle]="dataHandler.BR.enTitle" [title]="dataHandler.BR.title">
    <div body>
      <key-item-chunk-body>
        <!-- 主营业务 -->
        <div class="BR-style">
          <div class="title">
            主营业务 <i class="fa fa-angle-double-right"></i>
            <nz-select style="width: 120px;" nzAllowClear [(ngModel)]="selectedValue0"
              (ngModelChange)="onSelectChange0()">
              <nz-option [nzValue]="'主营业务'" [nzLabel]="'主营业务'">
              </nz-option>
              <ng-template ngFor let-item [ngForOf]="selectDatArray" let-index="index">
                <nz-option [nzValue]="item.value" [nzLabel]="item.label">
                </nz-option>
              </ng-template>
            </nz-select>
          </div>
          <div nz-row>
            <ng-template ngFor let-item [ngForOf]="dataHandler.BR.data0" let-index="index">
              <div nz-col nzSpan="6" style="height: 286px;margin-bottom: 20px;">
                <div class="key-item-box item-box-margin-13">
                  <div class="header">
                    <img [src]="item.src">
                    <key-item-mask>
                      <key-item-mask-label [label]="item.title">
                      </key-item-mask-label>
                    </key-item-mask>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        <!-- 主营风格 -->
        <div class="BR-style">
          <div class="title">
            主营风格 <i class="fa fa-angle-double-right"></i>
            <nz-select style="width: 120px;" nzAllowClear [(ngModel)]="selectedValue1"
              (ngModelChange)="onSelectChange1()">
              <nz-option [nzValue]="'主营风格'" [nzLabel]="'主营风格'">
              </nz-option>
              <ng-template ngFor let-item [ngForOf]="selectDatArray" let-index="index">
                <nz-option [nzValue]="item.value" [nzLabel]="item.label">
                </nz-option>
              </ng-template>
            </nz-select>
          </div>
          <div nz-row>
            <ng-template ngFor let-item [ngForOf]="dataHandler.BR.data1" let-index="index">
              <div nz-col nzSpan="6" style="height: 286px;margin-bottom: 20px;">
                <div class="key-item-box item-box-margin-13">
                  <div class="header">
                    <img [src]="item.src">
                    <key-item-mask>
                      <key-item-mask-label [label]="item.title">
                      </key-item-mask-label>
                    </key-item-mask>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        <!-- 主营地区 -->
        <div class="BR-style">
          <div class="title">
            主营地区 <i class="fa fa-angle-double-right"></i>
            <nz-select style="width: 120px;" nzAllowClear [(ngModel)]="selectedValue2"
              (ngModelChange)="onSelectChange2()">
              <nz-option [nzValue]="'主营地区'" [nzLabel]="'主营地区'">
              </nz-option>
              <ng-template ngFor let-item [ngForOf]="selectDatArray" let-index="index">
                <nz-option [nzValue]="item.value" [nzLabel]="item.label">
                </nz-option>
              </ng-template>
            </nz-select>
          </div>
          <div nz-row>
            <ng-template ngFor let-item [ngForOf]="dataHandler.BR.data2" let-index="index">
              <div nz-col nzSpan="6" style="height: 286px;margin-bottom: 20px;">
                <div class="key-item-box item-box-margin-13">
                  <div class="header">
                    <img [src]="item.src">
                    <key-item-mask>
                      <key-item-mask-label [label]="item.title">
                      </key-item-mask-label>
                    </key-item-mask>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        <!-- 产品来源 -->
        <div class="BR-style">
          <div class="title">
            产品来源 <i class="fa fa-angle-double-right"></i>
            <nz-select style="width: 120px;" nzAllowClear [(ngModel)]="selectedValue3"
              (ngModelChange)="onSelectChange3()">
              <nz-option [nzValue]="'产品来源'" [nzLabel]="'产品来源'">
              </nz-option>
              <ng-template ngFor let-item [ngForOf]="selectDatArray" let-index="index">
                <nz-option [nzValue]="item.value" [nzLabel]="item.label">
                </nz-option>
              </ng-template>
            </nz-select>
          </div>
          <div nz-row>
            <ng-template ngFor let-item [ngForOf]="dataHandler.BR.data3" let-index="index">
              <div nz-col nzSpan="6" style="height: 286px;margin-bottom: 20px;">
                <div class="key-item-box item-box-margin-13">
                  <div class="header">
                    <img [src]="item.src">
                    <key-item-mask>
                      <key-item-mask-label [label]="item.title">
                      </key-item-mask-label>
                    </key-item-mask>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </key-item-chunk-body>
    </div>
  </key-item-chunk>

  <!-- 精选品牌 -->
  <key-item-chunk [enTitle]="dataHandler.FB.enTitle" [title]="dataHandler.FB.title">
    <div body>
      <key-item-chunk-body>
        <div nz-row>
          <ng-template ngFor let-item [ngForOf]="dataHandler.FB.data" let-index="index">
            <div nz-col nzSpan="6" style="height: 286px;margin-bottom: 20px;">
              <div class="key-item-box item-box-margin-13">
                <div class="header">
                  <img [src]="item.src">
                  <key-item-mask>
                    <key-item-mask-label [label]="item.title">
                    </key-item-mask-label>
                  </key-item-mask>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </key-item-chunk-body>
    </div>
  </key-item-chunk>
</div>