<div class="protal-footer">
  <div class="logo" (click)="portalNav.onHome()">C A S E K E Y</div>
  <div class="menu">
    <a (click)="portalNav.openProductDesign()">设计开发</a>
    |
    <a (click)="portalNav.openEnterpriseResource()">管理系统</a>
    |
    <a (click)="portalNav.openMaterialEquipment()">材料机械</a>
    |
    <a (click)="portalNav.openIntegratedServices()">综合服务</a>
    |
    <a (click)="portalNav.openSECooperation()">校企合作</a>
    |
    <a (click)="portalNav.openFurnitureMall()">家具商城</a>
  </div>
  <div class="copyright">2019 北京奇思奇益管理咨询有限公司 版权所有 粤ICP备11111111号</div>
</div>