.finance {
  >.body {
    width: 1200px;
    margin: 20px auto 0px;
  }

  .FS-style {
    border: 1px solid #c4c4c4;
    padding: 10px;

    .z-col {
      text-align: center;

      .value {
        color: #00b111;
        font-size: 30px;
        font-weight: 600;
        margin-right: 3px;
      }

      .unit {
        color: #676767;
        font-size: 14px;
      }

      .title {
        color: #676767;
        font-size: 16px;
      }
    }
  }

  .FI-style,
  .FRP-style {
    border-top: 5px solid #ffc5c5;
    background-color: #f8f8f8;
    font-size: 15px;
    color: #7b7b7b;
    padding: 6px 5px;

    .label {
      padding: 3px 15px;

      .time {
        float: right;
      }
    }

  }
}