/* You can add global styles to this file, and also import other style files */
// 分页样式
:host ::ng-deep .ant-pagination-item-active {
  font-weight: 500;
  background-color: #33b371;
  color: #fff;
  border-color: #33b371;

  a {
    color: #fff;
  }
}

:host ::ng-deep .ant-pagination-item:focus,
:host ::ng-deep .ant-pagination-item:hover {
  border-color: #33b371;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}