<div class="offline-financing">
  <!-- 横幅 -->
  <is-banner-menu [srcUrl]="CH_IS_BANNER_SRC" [dataMenu]="CH_IS_BANNER_MENU"
    activeSubTitle="线下融资活动" (clickMenu)="onClickBannerMenu($event)">
  </is-banner-menu>

  <div class="body">
    <!-- 面包屑 -->
    <nz-breadcrumb class="breadcrumb" nzSeparator='>'>
      <nz-breadcrumb-item>
        <a (click)="portalNav.onHome()">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a (click)="portalNav.openIntegratedServices()">综合服务</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a (click)="portalNav.openFinance()">金融服务</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        线下融资活动
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>

  <!-- 融资资讯 -->
  <key-item-chunk [title]="dataHandler.FI.title" marginTop="20"
    [enTitle]="dataHandler.FI.enTitle">
    <div body>
      <key-item-chunk-body>
        <ng-template ngFor let-item [ngForOf]="dataHandler.FI.data"
          let-index="index">
          <div class="item-FI">
            <img class="img" [src]="item.src">
            <div class="body">
              <div class="text">{{item.BiaoTi}}</div>
              <div class="label" style="height: 91px;overflow: hidden;">
                {{item.NeiRong}}</div>
              <span class="label label-min">
                <samp>{{item.BiaoQian}}</samp>
                |
                {{item.FenLei}}
              </span>
              <span class="label label-min"
                style="float: right">发布时间：{{item.FaBuShiJian}}</span>
            </div>
          </div>
        </ng-template>
      </key-item-chunk-body>
    </div>
  </key-item-chunk>

  <!-- 线下融资活动 -->
  <key-item-chunk [title]="dataHandler.OFA.title"
    [enTitle]="dataHandler.OFA.enTitle">
    <div body>
      <key-item-chunk-body>
        <div nz-row>
          <ng-template ngFor let-item [ngForOf]="dataHandler.OFA.data0"
            let-index="index">
            <div nz-col nzSpan="6">
              <div class="item-box item-box-margin-20 item-box-OFA">
                <div class="header">
                  <img [src]="item.src">
                </div>
                <div class="body">
                  <div class="title"
                    style="text-align: center;font-weight: 600;">
                    <span
                      style="border-bottom: 3px solid #e3d19c;">{{item.FenLei}}</span>
                  </div>
                  <div class="label" style="text-align: center;">
                    {{item.BiaoTi}}
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </key-item-chunk-body>
    </div>
  </key-item-chunk>
  <key-item-chunk [menuData]="dataHandler.OFA.menuData"
    (switchIndexChange)="currentIndexOFA = $event">
    <div body>
      <!-- 融资微路演 -->
      <key-item-chunk-body *ngIf="currentIndexOFA == 0">
        <div nz-row>
          <ng-template ngFor let-item [ngForOf]="dataHandler.OFA.data1"
            let-index="index">
            <div nz-col nzSpan="8">
              <div class="item-box item-box-bg item-box-margin-3"
                style="height: 316px;margin-bottom: 6px; border: 1px solid #c6c6c6;">
                <div class="header">
                  <img [src]="item.src">
                </div>
                <div class="body">
                  <div class="title">{{item.BiaoTi}}</div>
                  <div class="label" style="float: right">{{item.RiQi}}</div>
                  <div class="label">{{item.DiDian}}</div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </key-item-chunk-body>
      <!-- 融资沙龙 -->
      <key-item-chunk-body *ngIf="currentIndexOFA == 1">
        <div nz-row>
          <ng-template ngFor let-item [ngForOf]="dataHandler.OFA.data2"
            let-index="index">
            <div nz-col nzSpan="8">
              <div class="item-box item-box-bg item-box-margin-3"
                style="height: 316px;margin-bottom: 6px; border: 1px solid #c6c6c6;">
                <div class="header">
                  <img [src]="item.src">
                </div>
                <div class="body">
                  <div class="title">{{item.BiaoTi}}</div>
                  <div class="label" style="float: right">{{item.RiQi}}</div>
                  <div class="label">{{item.DiDian}}</div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </key-item-chunk-body>
      <!-- 资本相亲汇 -->
      <key-item-chunk-body *ngIf="currentIndexOFA == 2">
        <div nz-row>
          <ng-template ngFor let-item [ngForOf]="dataHandler.OFA.data3"
            let-index="index">
            <div nz-col nzSpan="8">
              <div class="item-box item-box-bg item-box-margin-3"
                style="height: 316px;margin-bottom: 6px; border: 1px solid #c6c6c6;">
                <div class="header">
                  <img [src]="item.src">
                </div>
                <div class="body">
                  <div class="title">{{item.BiaoTi}}</div>
                  <div class="label" style="float: right">{{item.RiQi}}</div>
                  <div class="label">{{item.DiDian}}</div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </key-item-chunk-body>
      <!-- 创刻SHOW -->
      <key-item-chunk-body *ngIf="currentIndexOFA == 3">
        <div nz-row>
          <ng-template ngFor let-item [ngForOf]="dataHandler.OFA.data4"
            let-index="index">
            <div nz-col nzSpan="8">
              <div class="item-box item-box-bg item-box-margin-3"
                style="height: 316px;margin-bottom: 6px; border: 1px solid #c6c6c6;">
                <div class="header">
                  <img [src]="item.src">
                </div>
                <div class="body">
                  <div class="title">{{item.BiaoTi}}</div>
                  <div class="label" style="float: right">{{item.RiQi}}</div>
                  <div class="label">{{item.DiDian}}</div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </key-item-chunk-body>
    </div>
  </key-item-chunk>

  <!-- 往期活动集锦 -->
  <key-item-chunk [title]="dataHandler.PH.title"
    [enTitle]="dataHandler.PH.enTitle">
    <div body>
      <key-item-chunk-body>
        <div nz-row>
          <ng-template ngFor let-item [ngForOf]="dataHandler.PH.data"
            let-index="index">
            <div nz-col nzSpan="8">
              <div class="item-box item-box-bg item-box-margin-3"
                style="height: 316px;margin-bottom: 6px; border: 1px solid #c6c6c6;">
                <div class="header">
                  <img [src]="item.src">
                </div>
                <div class="body">
                  <div class="title">{{item.BiaoTi}}</div>
                  <div class="label" style="float: right">{{item.RiQi}}</div>
                  <div class="label">{{item.DiDian}}</div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </key-item-chunk-body>
    </div>
  </key-item-chunk>
</div>