<div class="key-flex-grow-1 key-flex key-flex-h">
  <key-table-split title="生产班组任务完成进度表" [data]="listData" [canRefreshBtn]="false" [(selection)]="selection"
    style="width:10px;">


    <key-table-column heading="指令单编号" width="140" key="ZhiLingDanBianHao" sortable>
    </key-table-column>
    <key-table-column heading="指令日期" width="100" key="ZhiLingRiQi" sortable>
    </key-table-column>
    <key-table-column heading="生产订单编号" width="140" key="ShengChanDingDanBianHao" sortable>
    </key-table-column>
    <key-table-column heading="指令数量" width="120" key="ZhiLingShuLiang" sortable>
    </key-table-column>
    <key-table-column heading="客户单位" width="120" key="KeHuDanWei" sortable>
    </key-table-column>
    <key-table-column heading="年度" width="100" key="NianDu" sortable>
    </key-table-column>
    <key-table-column heading="季度" width="100" key="JiDu" sortable>
    </key-table-column>
    <key-table-column heading="品牌" width="100" key="BoDuan" sortable>
    </key-table-column>
    <key-table-column heading="系列" width="120" key="XiLie" sortable>
    </key-table-column>
    <key-table-column heading="款号" width="120" key="KuanHao" sortable>
    </key-table-column>
    <key-table-column heading="款式" width="120" key="KuanShi" sortable>
    </key-table-column>
    <key-table-column heading="单位" width="100" key="KuanShiYanSe" sortable>
    </key-table-column>
    <key-table-column heading="开料班组" align="center">
      <key-table-column heading="任务数量" width="90" key="RenWuShuLiang1" sortable>
      </key-table-column>
      <key-table-column heading="完成数量" width="90" key="WanChengShuLiang1" sortable>
      </key-table-column>
    </key-table-column>

    <key-table-column heading="机加班组" align="center">
      <key-table-column heading="任务数量" width="90" key="RenWuShuLiang2" sortable>
      </key-table-column>
      <key-table-column heading="完成数量" width="90" key="WanChengShuLiang2" sortable>
      </key-table-column>
    </key-table-column>
    <key-table-column heading="组装班组" align="center">
      <key-table-column heading="任务数量" width="90" key="RenWuShuLiang3" sortable>
      </key-table-column>
      <key-table-column heading="完成数量" width="90" key="WanChengShuLiang3" sortable>
      </key-table-column>
    </key-table-column>
    <key-table-column heading="油漆班组" align="center">
      <key-table-column heading="任务数量" width="90" key="RenWuShuLiang4" sortable>
      </key-table-column>
      <key-table-column heading="完成数量" width="90" key="WanChengShuLiang4" sortable>
      </key-table-column>
    </key-table-column>
  </key-table-split>
</div>