<div class="material-equipment">
  <!-- 横幅 -->
  <me-banner [isMinBanner]="true" [srcUrl]="CH_ME_MIN_BANNER_SRC"></me-banner>
  <!-- 子菜单 -->
  <div class="menu">
    <a (click)="portalNav.openMaterialMart()">原辅材料商城</a>
    <a (click)="portalNav.openEquipmentShopping()">原辅材料团购</a>
    <a (click)="portalNav.openMaterialPurchase()">原辅材料求购</a>
    <a (click)="portalNav.openMaterialSupplier()">原辅材料供应商</a>
    <a (click)="portalNav.openTimberAuction()">木材拍卖行</a>
    <a (click)="portalNav.openEquipmentMart()">机械设备商城</a>
    <a (click)="portalNav.openEquipmentSupplier()">机械设备供应商</a>
    <a (click)="portalNav.openEquipmentPurchase()">机械设备求购</a>
  </div>

</div>